.squarebutton {
  min-width: 165px;
  width:100%;
  background-color: #151b26;
  color: white;
  align-items: center;
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  transition-duration: .2s;
    transition-property: background,border,box-shadow,color,fill;
        fill: #273240;
        font-size: 16px;
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
  
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}




