/* @import '~antd/dist/antd.css'; */

:root {
  --color-primary: blue;
}


.App {
  text-align: center;
}


body {
  font-family: 'Quicksand', sans-serif;
  padding: 10px 10px;
  background-color: --color-primary;
}

a {
text-decoration: none;
  color: black;
}

a:visited {
text-decoration: none;
  color: black;
}

a:hover {
text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;

}

/* img will resize in the container that it is and have a maximum size based on it's own size... */
img {
  width:100%;
  max-width: max-content;
  object-fit: cover;
}