@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.debug-panel {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 200px; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    color: rgb(219, 217, 217);
    z-index: 2;
    padding: 10px;
    overflow: auto;
    transition-duration: 1s;
    animation-duration: .5s;
    animation-name: fadeIn;   
}

// use this for floating panel
.debug-panel2 {
    position: fixed; /* Sit on top of the page content */
    width: 300px; /* Full width (cover the whole page) */
    height: 500px; /* Full height (cover the whole page) */
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    color: rgb(219, 217, 217);
    z-index: 2;
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
    overflow: auto;
    animation-duration: .5s;
    animation-name: fadeIn; 

}



