.authpage {
  width: 400px;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
  .logo-container {
    width:100%;
    margin-bottom: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .toggle {
    font-size: 14px;
    span{
      color: black;
    }
  }
}


